@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Plaster&display=swap");
body {
  background-color: #f6fffe;
  display: flex;
  flex-direction: column;
}
.pfp {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 90%;
  background-color: #181818;
  cursor: pointer;
}
.header {
  margin-left: 4rem;
}
.header .heading {
  color: #00615a;
  font-family: "Outfit", serif;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}
.header p {
  color: #7c7c7c;
  font-family: "Inter", serif;
  width: 21rem;
  font-size: 1.07rem;
}
select {
  border: none;
  font-family: "Outfit", serif;
  padding-inline: 5px;
  font-size: 1.2rem;
  border-bottom: 2px solid #004a45;
}
select:focus {
  border: none;
  border-bottom: 2px solid #004a45;
  outline: none;
}

.container {
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  margin-top: 3rem;
  margin-inline: 3rem;
  margin-bottom: 8rem;
  height: auto;
  padding-inline: 2rem;
  position: relative;
}
.container .top {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  padding-top: 2rem;
}
.container .top h1 {
  color: #004c47;
  font-family: "Outfit", serif;

  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}
.container .top .option {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #004c47;
  font-family: "Inter", serif;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.container .items {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  /* padding: 15px; */
  width: 100%;
}
.items .studentInfo {
  /* grid-area: studentInfo; */
  background-color: #fbfbfb;
  padding: 2rem 1rem;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  grid-column: span 2 / auto;
}
.items .parentInfo {
  /* grid-area: studentInfo; */
  background-color: #fbfbfb;
  padding: 2rem 1rem;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  height: auto;
  grid-column: span 2 / auto;
}
.items .studentInfo h1 {
  color: #004a45;
  font-family: "Inter", serif;
  font-size: 2rem;
  text-transform: capitalize;
}
.items .parentInfo h1 {
  color: #004a45;
  font-family: "Inter", serif;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.items .studentInfo .content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.items .parentInfo .content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.items .studentInfo .content .item input {
  border: none;
  border-bottom: 1px solid #004a45;
  font-family: "Open Sans", serif;
  color: #696969;
  font-size: 1rem;
  width: 14rem;
  background-color: transparent;
  max-width: 300px;
}
.items .parentInfo .content .item input {
  border: none;
  border-bottom: 1px solid #004a45;
  font-family: "Open Sans", serif;
  color: #696969;
  font-size: 1rem;
  width: 14rem;
  background-color: transparent;
}
.items .studentInfo .content .item input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #004a45;
  font-family: "Open Sans", serif;
  color: #1e1e1e;
  background-color: transparent;
  font-size: 1rem;
}
.items .parentInfo .content .item input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #004a45;
  font-family: "Open Sans", serif;
  color: #1e1e1e;
  background-color: transparent;
  font-size: 1rem;
}

.items .offence {
  /* grid-area: studentInfo; */
  background-color: #fbfbfb;
  padding: 3rem 3rem;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  height: fit-content;
  grid-column: 1/-1;
  grid-auto-rows: auto;
}
.items .offence h1 {
  color: #004a45;
  font-family: "Inter", serif;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.items .offence .content {
  margin-top: 2rem;
  padding-inline: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  /* border: 1px solid black; */
  display: grid;
}
.items .offence .content .item {
  display: flex;
  gap: 15px;
  font-family: "Open Sans", serif;
  color: #4e4e4e;
  font-size: 1.2rem;
  width: 100%;
  /* align-items: center; */
}
.items .offence .content .item textarea {
  border: 2px solid #8787877d;
  border-radius: 3px;
  background-color: white;
  font-family: "Open Sans", serif;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  width: 100% !important;
  height: 6rem !important;
}
.items .offence .content .item textarea:focus {
  border: 2px solid #8787877d;
  outline: 1px solid #303030b6;
  font-family: "Open Sans", serif;
}
.items .offence .content .item input {
  width: 30px;
  height: 30px;
  accent-color: #004a45;
}
.items .Information {
  /* grid-area: studentInfo; */
  background-color: #fbfbfb;
  padding: 3rem 3rem;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  grid-column: span 2 / auto;
  width: 100%;
  max-width: 100%;
}
.items .Information h1 {
  color: #004a45;
  font-family: "Inter", serif;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.items .Information .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-right: 0rem;
  /* color: #8b8b8b; */
  gap: 3rem;
}
.items .Information .content .leftContent {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  width: 100%;
  /* border: 1px solid black; */
}
.items .Information .content .rightContent p {
  color: #004a45;
  font-family: "Inter", serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 500;
}
.items .Information .content .item input {
  border: none;
  border-bottom: 1px solid #004a45;
  font-family: "Open Sans", serif;
  font-size: 1rem;
  width: 20rem;
  cursor: text;
  background-color: transparent;
}
.items .Information .content .item input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #004a45;

  color: #181818;
}
.items .Information .content .rightContent textarea {
  border: 2px solid #8787877d;
  border-radius: 3px;
  background-color: white;
  font-family: "Open Sans", serif;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  height: 4rem;
  width: 15rem;
  margin-top: 1rem;
}
.items .Information .content .rightContent textarea:focus {
  color: #181818;
}
.container button {
  background: #004a45;
  color: white;
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 6px;
  font-size: 1.3rem;
  cursor: pointer;
  display: block;
  margin: 2rem 0 2rem auto;
  width: fit-content;
}
@media screen and (min-width: 1346px) {
  .items .studentInfo1 {
    /* grid-area: studentInfo; */
    background-color: #00ff15;
    padding: 3px;
    font-size: 1.3rem;
    grid-column: span 2 / auto;
  }

  .items .offence {
    /* grid-area: studentInfo; */
    background-color: #fbfbfb;
    /* padding: 2rem 1rem; */
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    height: fit-content;

    grid-column: span 4 / auto;
  }

  .items .Information {
    /* grid-area: studentInfo; */
    background-color: #fbfbfb;
    padding: 3rem 3rem;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    grid-column: span 4 / auto;
    grid-row: 4 / auto;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-left: 2rem;
  }

  .container {
    margin-inline: 1rem;
  }

  .container .top {
    flex-direction: column;
    gap: 1rem;
    padding-inline: 1rem;
  }

  .pfp {
    margin-left: 80%;
  }

  .container button {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .container .top {
    margin-bottom: 2rem;
  }
  .header .heading {
    font-size: 1.5rem;
  }

  .header p {
    width: 100%;
  }
  .container {
    padding-inline: 1rem;
    position: relative;
  }
  .items .offence {
    padding: 3rem 1rem;
  }
  .items .offence .content .item {
    font-size: 0.9rem;
  }
  .items .offence {
    padding: 1rem;
  }
  .items .offence .content .item input {
    width: 25px;
    height: 25px;
    accent-color: #004a45;
  }
  .items .Information {
    padding: 3rem 1rem;
  }
  .items .Information {
    padding: 1.5rem;
  }

  .items .Information .content .item input {
    font-size: 1rem;
    width: 15rem;
    padding-inline: 10px;
    cursor: text;
    background-color: transparent;
  }
  .items .Information .content .leftContent {
    width: 100%;
    /* border: 1px solid black; */
  }
}
/* .items .parentInfo {
  grid-area: parentInfo;
  background-color: #f1f905;
  padding: 35px;
}
.items .offence {
  grid-area: offence;
  background-color: #ff1d1d;
  padding: 35px;
} */
